@import "bootstrap-sprockets";
@import "bootstrap";

.non-header {
  padding-top: 50px;
}

.family-name {
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
  font-family: cursive;
  a {
    color: white;
  }
}

