.threads {

  padding-left: 1px;
  padding-right: 1px;
  border-right: 1px solid silver;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70%;
  float: left;
  width: 30%;

  .btn {
    width: 364px;
    position: fixed;
  }

  table {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}

.messages {
  padding-left: 1px;
  padding-right: 1px;
  border-left: 1px solid silver;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  float: right;
  width: 70%;

  .new-thread {
    margin-right: 300px;
    display: none;
    margin-top: 20px;
  }

  input#threads_title {
    width: 500px;
  }

  textarea#threads_first_message {
    width: 500px;
  }
}